{%extends 'partials/base.html'%}
{%load static%}
{%block title%}About-us{%endblock%}
{%block content%}
      <!-- About Page Starts -->
      <div class="abt-main">
        <div class="abt-cont">
          <div class="abt-us-1 row">
            <div class="body col-md-8 sm-12">
              <h4>About SEG-NAU</h4>
              <p>
                 nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis.
              </p>
            </div>
            <div class="body col-md-4 sm-12">
              <div class="">
                <img src="{%static 'images/bg3.jpg'%}" class="abt-img">
              </div>
            </div>
          </div>
        </div>
          <div class="abt-cont">
          <div class="abt-us-1 row">
            <div class="body col-md-8 sm-12">
              <h4>Our Faculty Advicer</h4>
              <p>
                 nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis.
              </p>
            </div>
            <div class="body col-md-4 sm-12">
              <div class="">
                <img src="{%static 'images/fa.jpg'%}" class="abt-img">
              </div>
            </div>
          </div>
        
      <div class="abt-cont">
        <div class="body">
              <h4 class="text-center">Meet our 2022 Executives</h4>
          </div>
          <div class="abt-us-1 row">
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{%static 'images/naza.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">President</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1" >
                <img src="{% static 'images/grat.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Vice President</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{% static 'images/bg3.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Social Media manager</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{%static 'images/grace.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Reasearch Cluster</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{%static 'images/me.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">FieldTrip Coordinator</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{% static 'images/caleb.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Webmaster</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{% static 'images/bg3.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Secretary</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{%static 'images/bg3.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Assistant Secretary</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
            <div class="body shadow-sm col-md-4 col-sm-12">
              <div class="card card1">
                <img src="{%static 'images/manasseh.jpg'%}" class="card-img-top ext-img" alt="...">
                <div class="card-footer">
                  <p class="card-text">Web Master ll</p>
                  <span><a href=""><i class="ri-facebook-box-fill"></i></a></span>
                  <span><a href=""><i class="ri-twitter-fill"></i></a></span>
                  <span><a href=""><i class="ri-linkedin-box-fill"></i></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- End of About -->
{%endblock%}    